@media (min-width: 800px) {
    #root {
        background-image: url(../assets/images/bg-desktop.svg);
        background-size: cover;

        display: flex;
    }

    .App {
        justify-content: space-between;
        gap: 0rem;

        #company {
            width: 15%;
        }

        #mockups {
            width: 50%;
            height: max-content;
        }

        article {
            display: flex;
            align-items: center;
            gap: 0rem;

            #text {
                text-align: left;

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1rem;
                }

                button {
                    width: 35%;
                }
            }
        }

        #social-medias {
            text-align: right;
        }
    }
}